@import "./utils/vars";


.buttons__list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.button-list__element {
    padding: 10px;
}


.button__item {
    transition-duration: 0.5s;
    display: inline;
    width: 114px;
    height: 38px;
    flex-direction: row;
    text-align: center;
    background-color: getColor("lightgray");
    font-size: 16px; 
    border: none;
    border-radius: 5px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

&:focus {
    color: getColor("blue");
}

&:hover {
    width: 121px;
    height: 38px;
    cursor: pointer;
    background-color: getColor("blue");
    border: none;
    color: getColor("lightgray");
    text-decoration: getcolor("lightgray");
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px; 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
}