@import "./utils/vars";



.footer {
    width: auto;
    display: flex;
    background-color: getColor("darkfooter");
    font-size: 14px;
    justify-content: center;


    &__list {
    margin-top: 60px;
    display: block;
    color: getColor("white");
}

    &__element {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    
 }
}

 .footer__join-us {
    color: getColor("white");
    margin: auto;
}

 .footer__social-media {
    justify-content: center;
 }

.footer-social-media__circle {
    padding: 10px;
    margin-top: 20px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition-duration: 0.5s;
}


.footer-social-media__circle:hover {
    background-color: getColor("blue");
    fill: getColor("white");
    cursor: pointer;

& svg { fill: getColor("white");}
}

.footer-social-media__icon {
    fill: getColor("grey");
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

&:hover {
    fill: getColor("white");
}
}

.footer__newsletter {
    margin-top: 20px;
    margin: auto;
    border: none;
    color: getColor("white");

&-text {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}

.newsletter-list__element {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.footer-input__newsletter {
    display: flex;
    margin: auto;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: getColor("darkfooter");
    border-color: getColor("lightgrey");
    color: getColor("white");
    padding-left: 16px;
    font-size: 14px;
    line-height: 1.25;
    margin-right: 12px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition-duration: 0.5s;
    

&-icon {
    padding-left: 24px;
    align-items: center;
    position: absolute;
    bottom: 13px;
    top: 13px;
    right: 13px;
    left: 125px;
}
}

.footer-input__newsletter:active {
    border-color: getColor("blue");
    color: getColor("blue");
}

.footer-input__newsletter:hover {
    border-color: getColor("blue");
    color: getColor("blue");
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition-duration: 0.5s;
}

.footer__text {
    margin-top: 20px;
    color: getColor("blue");
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


.join-us {
    color: getColor("white");
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
}

.footer__link {
    color: getColor("white");
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.newsletter {
    border: none;
}

.footer-button__div {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.footer__button {
    display: flex;
    position: relative;
    height: 50px;
    width: 200px;
    background-color: getColor("blue");
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: getColor("white");
    align-items: center;
    border-radius: 5px;
} 

.footer__button-text {
    margin-left: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}


.form__div {
    display: flex;
}



@media only screen and (min-width: 500px) {

    .footer {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: getColor("darkfooter");
        font-size: 14px;
    }


    .footer__list {
        margin-top: 60px;
        margin-left: 20%;
        display: flex;
        color: getColor("white");
    }

    .footer__join-us {
        margin-top: -197px;
        margin-left: 70%;
        display: flex;
        color: getColor("white");
    }

    .footer__newsletter {
        margin-top: 50px;
        border: none;
        color: getColor("white");
    
    
}
}



@media only screen and (min-width: 1000px) {

    .footer {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: getColor("darkfooter");
        font-size: 14px;
    }

    .footer__list {
        margin-top: 60px;
        margin-left: 20%;
        display: flex;
        color: getColor("white");
    }

    .footer__join-us {
        margin-top: -197px;
        margin-left: 35%;
        display: flex;
        color: getColor("white");
    }

    .footer__newsletter {
        margin-top: 50px;
        color: getColor("white");
    }
    
    .footer__element {
        padding-bottom: 20px;
        display: block;
        
     }
     .form__div {
        display: flex;
        flex-wrap: wrap;
    }

    .newsletter-list__element {
        margin-top: 20px;
        display: block;
    }

    .footer-button__div {
        margin-top: 20px;
        margin-bottom: 60px;
        display: block;
        }

    .footer__newsleter2 {
        display: flex;
    }
}



