@import "./utils/vars";

body {
    font-family: 'Roboto', sans-serif;
    background-color: getColor("white");
}

* {
    margin: 0;
    outline: 0;
}

ul { 
    list-style: none;
}

.section {
    padding-bottom: 94px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: getColor("white");
}

.header {
    max-height: 80px;
    width: auto;
}


a {
    text-decoration: none;
    color: #757575;
}

a:hover {
    color: getColor("blue");
}

p {
    font-size: 12px;
    color: getColor("dark");
}
