@import "./utils/vars";

/* Global Settings */

body {
    font-family: 'Roboto', sans-serif;
    background-color: getColor("white");
}

* {
    padding: 0;
    margin: 0;
}


ul {
    list-style: none;
}

a { 
    text-decoration: none;
}



html {
    font-size: 10px;
    overflow-x: hidden;
}


/* Nav Styling */


.section {
    padding-bottom: 94px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: getColor("white");
}




.test {
    display: flex;
}


.header__ul {
    padding: 10px;
}


.header__active {
    position: relative;
    letter-spacing: 0.02em;
}

.header__active::after {
    position: absolute;
    display: block;
    content: "";
    top: 55px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: getColor("blue");
    border-radius: 10px;
    z-index: 9;
}

.header {
    max-height: 80px;
    width: auto;
}

.header__link-nav-font {
    font-weight: 900;
    color: getColor("dark");
}

.header__item {
    margin-left: 25;
    font-weight: bold;
    font-size: 24px;
    color: getColor("black");
    transition-duration: 0.3s;
}

.header__item:hover {
    color: getColor("blue");
}

.header__link {
    color: getColor("blue");
    transition-duration: 0.3s;
}

.header__link:hover {
    color: #212121;
}

.nav__ul-div {
    justify-content: center;
    display: flex;
}

.header-contact__item {
    display: flex;
    align-items: center;
}

.header__link-nav_contact{
    padding-left: 10px;
    transition-duration: 0.3s;
}



.header__nav2 {
    background-color: getColor("white");;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2em;
    position: relative;
}

.nav__ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    align-items: center;

}

.header__link-nav {
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    color: gerColor("darkgrey");
    transition-duration: 0.3s;
}

.header__link-nav1 {
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    color: gerColor("darkgrey");
}




.header-contact__link {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    display: inline-flex;
}


.header-contact__link:hover svg { fill: getColor("blue")} 


.header-contact__email {
    padding-right: 10px;
    fill: getColor("darkgrey");
    transition-duration: 0.3s;


&:hover {
    fill: getColor("blue");
}
}

.header-contact__phone {
    padding-right: 10px;
    fill: getColor("darkgrey");
    transition-duration: 0.3s;

&:hover {
    fill: getColor("blue");
}
}








/* Burger Styling */

.burger {
    z-index: 4;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.line {
    width: 3em;
    height: .3em;
    background-color: getColor("black");
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

.media-menu-div{
    display: none;
}



@media only screen and (max-width: 668px) {


    .header__link-nav-font {
        font-size: 40px;
    }

    .burger {
        display: block;
        transition-duration: 0.3s;
    }

    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }


    .nav__ul {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        background-color: getColor("white");
        height: 99vh;
        transform: translate(100%);
        transition-duration: 0.3s;
        z-index: 3;
    }

    .nav__ul.active {
        transform: translate(0%);
        display: block;
        transition-duration: 0.3s;
    }

    .header__link-nav {
        color: getColor("dark");
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .header__active::after {
        position: absolute;
        display: block;
        content: "";
        top: 0px;
        left: 0px;
        width: 0;
        height: 4px;
        border-radius: 0px;
        z-index: 9;
    }

    .test {
        display: block;
        margin-top: 15%;
        margin-left: 10%;
    }

    .nav__ul-div {
        font-size: 36px;
        display: block;
        margin-top: 40%;
        margin-left: 10%;
    }

    .header-contact__email {
        display: none;
    }    

    .header-contact__phone {
        display: none;
}
    
    .header__link-nav {
        text-decoration: none;
        font-size: 40px;
        padding: 40px;
    }
    .header__link-nav1 {
        text-decoration: none;
        font-size: 36px;
        padding-top: 40px;
    }
    
    .header__link-nav_contact{
        font-size: 36px;
    }

    .media-menu-div {
        display: flex;
        font-size: 16px;
        margin-top: 10%;
        margin-left: 13%;
    }

    .media-menu {
        padding: 10px;

    }

    .media-menu:hover {
        color: getColor("blue");
        transition: .3s ease-in-out;
    }



}







@media only screen and (max-width: 1000px) {
    .nav__ul {
        width: 100%;
        
    }

    .container {
        width: auto;
        margin: auto;
        flex-direction: column;
        background-color: getColor("white");
    }
}


@media only screen and (max-width: 1080px) {



    .header__nav2 {
        justify-content: space-between;
    }

    .header__link-nav {
        padding: 14px;
    }

    .nav__ul {
        justify-content: center;
    }

    .nav__ul-div {
        display: block;
    }
}