@import "./utils/vars";

.join-us {
    padding: 15px;
    color: getColor("white");
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}