@import "./utils/vars";

.backdrop {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    transform: translate(-50%, -50%);
    background-color: getColor("white");

&__heading {
    font-size: 20px;
    text-decoration: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 12px;
}
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: getColor("white");
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.input-wrapper .input-modal{
    position: relative;
    margin-bottom: 20px;
    justify-content: center;
}

.input-wrapper:hover svg{
    border-color: getColor("blue");
    fill: getColor("blue");
}

.label-modal {
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.input-modal {
    width: 408px;
    height: 38px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 42px;
    border-radius: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);

&:hover {
    border-color: getColor("blue");
}
}

.input-modal__svg-username {
    position: absolute;
    top: 110px;
    left: 55px;
}

.input-modal__svg-tel {
    position: absolute;
    top: 195px;
    left: 55px;
}

.input-modal__svg-email {
    position: absolute;
    top: 275px;
    left: 55px;
}


.input-modal__coment {
    margin-left: 40px;
    width: 436px;
    height: 40px;
    padding-bottom: 100px;
    padding-left: 10px;
    border-radius: 5px;
    border-color: getColor("grey");
    border: 1px solid rgba(33, 33, 33, 0.2);

&:hover {
    cursor: pointer;
    border-color: getColor("blue");
}
}

.button-modal:hover {
    cursor: pointer;
}


.submit-modal {
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: getColor("blue");
    color: getColor("white");
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-left: 164px;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.cookies {
    margin-left: 50px;
    margin-top: 20px;

&__text {
    font-size: 14px;
}

&__link {
    text-decoration: underline;
    color: getColor("blue");
    cursor: pointer;
}
}
