@import "./utils/vars";

.we-do {
    background-color: getColor("white");
    padding-top: 94px;
    width: auto;

&__heading {
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    width: auto;
}

&__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}

.we-do__card {
    padding: 15px;
}

.we-do__img {
    position: relative;
    overflow: hidden;
}

.static-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: getColor("black");
    opacity: 70%;
    color: getColor("white");
    text-align: center;
    padding-top: 40px;
    margin-top: 180px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
